In [50]:
import pandas as pd
from math import nan

In [51]:
data = pd.read_csv('./data/climate_data_full.csv')

In [52]:
df = data

In [53]:
columns = []
with open('./data/columns.csv') as f:
    text = f.read()
    columns = [c for c in text.split(',')]

In [54]:
columns

['IWMO',
 'Month',
 'humidity Date (Year/Day) of Occurrence of Maximum Daily Value',
 'humidity Date (Year/Day) of Occurrence of Minimum Daily Value',
 'humidity Daytime Average',
 'humidity First Quartile',
 'humidity Maximum Daily Value',
 'humidity Maximum Monthly Value',
 'humidity Maximum Value',
 'humidity Mean Daily Maximum Value',
 'humidity Mean Daily Minimum Value',
 'humidity Mean Monthly Minimum Value',
 'humidity Mean Value',
 'humidity Mean of 3-Hourly Observations',
 'humidity Mean of Hourly Observations',
 'humidity Mean of Observations at 0000 LST',
 'humidity Mean of Observations at 0100 LST',
 'humidity Mean of Observations at 0200 LST',
 'humidity Mean of Observations at 0300 LST',
 'humidity Mean of Observations at 0400 LST',
 'humidity Mean of Observations at 0500 LST',
 'humidity Mean of Observations at 0600 LST',
 'humidity Mean of Observations at 0700 LST',
 'humidity Mean of Observations at 0800 LST',
 'humidity Mean of Observations at 0900 LST',
 'humidity Mean of Observations at 1000 LST',
 'humidity Mean of Observations at 1100 LST',
 'humidity Mean of Observations at 1200 LST',
 'humidity Mean of Observations at 1300 LST',
 'humidity Mean of Observations at 1400 LST',
 'humidity Mean of Observations at 1500 LST',
 'humidity Mean of Observations at 1600 LST',
 'humidity Mean of Observations at 1700 LST',
 'humidity Mean of Observations at 1800 LST',
 'humidity Mean of Observations at 1900 LST',
 'humidity Mean of Observations at 2000 LST',
 'humidity Mean of Observations at 2100 LST',
 'humidity Mean of Observations at 2200 LST',
 'humidity Mean of Observations at 2300 LST',
 'humidity Median Value',
 'humidity Minimum Daily Value',
 'humidity Minimum Monthly Value',
 'humidity Minimum Value',
 'humidity Nighttime Average',
 'humidity Number of Years used to Calculate Normal',
 'humidity Standard Deviation of Mean Value',
 'humidity Third Quartile',
 'humidity Year of Occurrence of Maximum Monthly Value',
 'humidity Year of Occurrence of Maximum Value',
 'humidity Year of Occurrence of Minimum Monthly Value',
 'humidity Year of Occurrence of Minimum Value',
 'mean_max_temp Date (Year/Day) of Occurrence of Maximum Daily Value',
 'mean_max_temp Date (Year/Day) of Occurrence of Minimum Daily Value',
 'mean_max_temp First Quartile',
 'mean_max_temp Maximum Daily Value',
 'mean_max_temp Maximum Monthly Value',
 'mean_max_temp Maximum Value',
 'mean_max_temp Mean Daily Maximum Value',
 'mean_max_temp Mean Monthly Maximum Value',
 'mean_max_temp Mean Monthly Minimum Value',
 'mean_max_temp Mean Value',
 'mean_max_temp Median Value',
 'mean_max_temp Minimum Daily Value',
 'mean_max_temp Minimum Monthly Value',
 'mean_max_temp Number of Years used to Calculate Normal',
 'mean_max_temp Standard Deviation of Mean Value',
 'mean_max_temp Third Quartile',
 'mean_max_temp Year of Occurrence of Maximum Monthly Value',
 'mean_max_temp Year of Occurrence of Maximum Value',
 'mean_max_temp Year of Occurrence of Minimum Monthly Value',
 'mean_min_temp Date (Year/Day) of Occurrence of Maximum Daily Value',
 'mean_min_temp Date (Year/Day) of Occurrence of Minimum Daily Value',
 'mean_min_temp First Quartile',
 'mean_min_temp Maximum Daily Value',
 'mean_min_temp Maximum Monthly Value',
 'mean_min_temp Mean Daily Minimum Value',
 'mean_min_temp Mean Monthly Maximum Value',
 'mean_min_temp Mean Monthly Minimum Value',
 'mean_min_temp Mean Value',
 'mean_min_temp Median Value',
 'mean_min_temp Minimum Daily Value',
 'mean_min_temp Minimum Monthly Value',
 'mean_min_temp Minimum Value',
 'mean_min_temp Number of Years used to Calculate Normal',
 'mean_min_temp Standard Deviation of Mean Value',
 'mean_min_temp Third Quartile',
 'mean_min_temp Year of Occurrence of Maximum Monthly Value',
 'mean_min_temp Year of Occurrence of Maximum Value',
 'mean_min_temp Year of Occurrence of Minimum Monthly Value',
 'mean_min_temp Year of Occurrence of Minimum Value',
 'mean_temp Date (Year/Day) of Occurrence of Maximum Daily Value',
 'mean_temp Date (Year/Day) of Occurrence of Minimum Daily Value',
 'mean_temp First Quartile',
 'mean_temp Maximum Daily Value',
 'mean_temp Maximum Monthly Value',
 'mean_temp Maximum Value',
 'mean_temp Mean Daily Maximum Value',
 'mean_temp Mean Daily Minimum Value',
 'mean_temp Mean Daily Value',
 'mean_temp Mean Monthly Maximum Value',
 'mean_temp Mean Monthly Minimum Value',
 'mean_temp Mean Monthly Value',
 'mean_temp Mean Value',
 'mean_temp Mean of 3-Hourly Observations',
 'mean_temp Mean of Hourly Observations',
 'mean_temp Median Value',
 'mean_temp Minimum Daily Value',
 'mean_temp Minimum Monthly Value',
 'mean_temp Minimum Value',
 'mean_temp Number of Years used to Calculate Normal',
 'mean_temp Standard Deviation of Mean Daily Value',
 'mean_temp Standard Deviation of Mean Value',
 'mean_temp Third Quartile',
 'mean_temp Year of Occurrence of Maximum Monthly Value',
 'mean_temp Year of Occurrence of Minimum Monthly Value',
 'precipitation_data First Quintile',
 'precipitation_data Fourth Quintile',
 'precipitation_data Maximum Monthly Value',
 'precipitation_data Mean Monthly Value',
 'precipitation_data Median Value',
 'precipitation_data Minimum Monthly Value',
 'precipitation_data Number of Years used to Calculate Normal',
 'precipitation_data Second Quintile',
 'precipitation_data Standard Deviation of Mean Value',
 'precipitation_data Third Quintile',
 'precipitation_data Year of Occurrence of Maximum Monthly Value',
 'precipitation_data Year of Occurrence of Minimum Monthly Value',
 'sunshine Maximum Monthly Value',
 'sunshine Mean Daily Value',
 'sunshine Mean Number of Hours',
 'sunshine Minimum Monthly Value',
 'sunshine Number of Years used to Calculate Normal',
 'sunshine Percent of Possible',
 'sunshine Year of Occurrence of Maximum Monthly Value',
 'sunshine Year of Occurrence of Minimum Monthly Value']

In [55]:
selected_cols = ['IWMO',
 'Month',
 'humidity Daytime Average',
 'humidity First Quartile',
 'humidity Mean Daily Maximum Value',
 'humidity Mean Daily Minimum Value',
 'humidity Mean Value',
 'humidity Mean of 3-Hourly Observations',
 'humidity Mean of Hourly Observations',
 'humidity Mean of Observations at 0000 LST',
 'humidity Mean of Observations at 0100 LST',
 'humidity Mean of Observations at 0200 LST',
 'humidity Mean of Observations at 0300 LST',
 'humidity Mean of Observations at 0400 LST',
 'humidity Mean of Observations at 0500 LST',
 'humidity Mean of Observations at 0600 LST',
 'humidity Mean of Observations at 0700 LST',
 'humidity Mean of Observations at 0800 LST',
 'humidity Mean of Observations at 0900 LST',
 'humidity Mean of Observations at 1000 LST',
 'humidity Mean of Observations at 1100 LST',
 'humidity Mean of Observations at 1200 LST',
 'humidity Mean of Observations at 1300 LST',
 'humidity Mean of Observations at 1400 LST',
 'humidity Mean of Observations at 1500 LST',
 'humidity Mean of Observations at 1600 LST',
 'humidity Mean of Observations at 1700 LST',
 'humidity Mean of Observations at 1800 LST',
 'humidity Mean of Observations at 1900 LST',
 'humidity Mean of Observations at 2000 LST',
 'humidity Mean of Observations at 2100 LST',
 'humidity Mean of Observations at 2200 LST',
 'humidity Mean of Observations at 2300 LST',
 'humidity Median Value',
 'humidity Third Quartile',
 'mean_max_temp First Quartile',
 'mean_max_temp Maximum Daily Value',
 'mean_max_temp Maximum Monthly Value',
 'mean_max_temp Maximum Value',
 'mean_max_temp Mean Daily Maximum Value',
 'mean_max_temp Mean Monthly Maximum Value',
 'mean_max_temp Mean Monthly Minimum Value',
 'mean_max_temp Mean Value',
 'mean_max_temp Median Value',
 'mean_max_temp Minimum Daily Value',
 'mean_max_temp Minimum Monthly Value',
 'mean_max_temp Third Quartile',
 'mean_temp First Quartile',
 'mean_temp Maximum Daily Value',
 'mean_temp Maximum Monthly Value',
 'mean_temp Maximum Value',
 'mean_temp Mean Daily Maximum Value',
 'mean_temp Mean Daily Minimum Value',
 'mean_temp Mean Daily Value',
 'mean_temp Mean Monthly Maximum Value',
 'mean_temp Mean Monthly Minimum Value',
 'mean_temp Mean Monthly Value',
 'mean_temp Mean Value',
 'mean_temp Mean of 3-Hourly Observations',
 'mean_temp Mean of Hourly Observations',
 'mean_temp Median Value',
 'mean_temp Minimum Daily Value',
 'mean_temp Minimum Monthly Value',
 'mean_temp Minimum Value',
 'mean_temp Third Quartile',
 'precipitation_data First Quintile',
 'precipitation_data Fourth Quintile',
 'precipitation_data Maximum Monthly Value',
 'precipitation_data Mean Monthly Value',
 'precipitation_data Median Value',
 'precipitation_data Minimum Monthly Value',
 'precipitation_data Number of Years used to Calculate Normal',
 'precipitation_data Second Quintile',
 'precipitation_data Standard Deviation of Mean Value',
 'precipitation_data Third Quintile',
 'precipitation_data Year of Occurrence of Maximum Monthly Value',
 'precipitation_data Year of Occurrence of Minimum Monthly Value',
 'sunshine Maximum Monthly Value',
 'sunshine Mean Daily Value',
 'sunshine Mean Number of Hours',
 'sunshine Minimum Monthly Value',
 'sunshine Percent of Possible',]

In [56]:
df = df[selected_cols]

In [57]:
df = df.replace([-9999.0, -9999.9], nan)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39074 entries, 0 to 39073
Data columns (total 82 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   IWMO                                                            39074 non-null  float64
 1   Month                                                           39074 non-null  object
 2   humidity Daytime Average                                        78 non-null     float64
 3   humidity First Quartile                                         12 non-null     float64
 4   humidity Mean Daily Maximum Value                               2668 non-null   float64
 5   humidity Mean Daily Minimum Value                               2826 non-null   float64
 6   humidity Mean Value                                             14262 non-null  float64
 7   humidity Mean of 3-Hourly Observations                          3336 non-null   float64
 8   humidity Mean of Hourly Observations                            1736 non-null   float64
 9   humidity Mean of Observations at 0000 LST                       1333 non-null   float64
 10  humidity Mean of Observations at 0100 LST                       1471 non-null   float64
 11  humidity Mean of Observations at 0200 LST                       504 non-null    float64
 12  humidity Mean of Observations at 0300 LST                       3461 non-null   float64
 13  humidity Mean of Observations at 0400 LST                       1483 non-null   float64
 14  humidity Mean of Observations at 0500 LST                       557 non-null    float64
 15  humidity Mean of Observations at 0600 LST                       1344 non-null   float64
 16  humidity Mean of Observations at 0700 LST                       1498 non-null   float64
 17  humidity Mean of Observations at 0800 LST                       532 non-null    float64
 18  humidity Mean of Observations at 0900 LST                       3680 non-null   float64
 19  humidity Mean of Observations at 1000 LST                       1498 non-null   float64
 20  humidity Mean of Observations at 1100 LST                       518 non-null    float64
 21  humidity Mean of Observations at 1200 LST                       1344 non-null   float64
 22  humidity Mean of Observations at 1300 LST                       1498 non-null   float64
 23  humidity Mean of Observations at 1400 LST                       557 non-null    float64
 24  humidity Mean of Observations at 1500 LST                       3680 non-null   float64
 25  humidity Mean of Observations at 1600 LST                       1498 non-null   float64
 26  humidity Mean of Observations at 1700 LST                       518 non-null    float64
 27  humidity Mean of Observations at 1800 LST                       1344 non-null   float64
 28  humidity Mean of Observations at 1900 LST                       1512 non-null   float64
 29  humidity Mean of Observations at 2000 LST                       532 non-null    float64
 30  humidity Mean of Observations at 2100 LST                       3469 non-null   float64
 31  humidity Mean of Observations at 2200 LST                       1480 non-null   float64
 32  humidity Mean of Observations at 2300 LST                       518 non-null    float64
 33  humidity Median Value                                           12 non-null     float64
 34  humidity Third Quartile                                         12 non-null     float64
 35  mean_max_temp First Quartile                                    12 non-null     float64
 36  mean_max_temp Maximum Daily Value                               5698 non-null   float64
 37  mean_max_temp Maximum Monthly Value                             4309 non-null   float64
 38  mean_max_temp Maximum Value                                     9649 non-null   float64
 39  mean_max_temp Mean Daily Maximum Value                          238 non-null    float64
 40  mean_max_temp Mean Monthly Maximum Value                        893 non-null    float64
 41  mean_max_temp Mean Monthly Minimum Value                        143 non-null    float64
 42  mean_max_temp Mean Value                                        25509 non-null  float64
 43  mean_max_temp Median Value                                      220 non-null    float64
 44  mean_max_temp Minimum Daily Value                               12 non-null     float64
 45  mean_max_temp Minimum Monthly Value                             4297 non-null   float64
 46  mean_max_temp Third Quartile                                    12 non-null     float64
 47  mean_temp First Quartile                                        12 non-null     float64
 48  mean_temp Maximum Daily Value                                   355 non-null    float64
 49  mean_temp Maximum Monthly Value                                 1782 non-null   float64
 50  mean_temp Maximum Value                                         2312 non-null   float64
 51  mean_temp Mean Daily Maximum Value                              4890 non-null   float64
 52  mean_temp Mean Daily Minimum Value                              4885 non-null   float64
 53  mean_temp Mean Daily Value                                      616 non-null    float64
 54  mean_temp Mean Monthly Maximum Value                            579 non-null    float64
 55  mean_temp Mean Monthly Minimum Value                            579 non-null    float64
 56  mean_temp Mean Monthly Value                                    28 non-null     float64
 57  mean_temp Mean Value                                            31964 non-null  float64
 58  mean_temp Mean of 3-Hourly Observations                         209 non-null    float64
 59  mean_temp Mean of Hourly Observations                           2208 non-null   float64
 60  mean_temp Median Value                                          220 non-null    float64
 61  mean_temp Minimum Daily Value                                   356 non-null    float64
 62  mean_temp Minimum Monthly Value                                 1793 non-null   float64
 63  mean_temp Minimum Value                                         2312 non-null   float64
 64  mean_temp Third Quartile                                        12 non-null     float64
 65  precipitation_data First Quintile                               13637 non-null  float64
 66  precipitation_data Fourth Quintile                              13634 non-null  float64
 67  precipitation_data Maximum Monthly Value                        16175 non-null  float64
 68  precipitation_data Mean Monthly Value                           36753 non-null  float64
 69  precipitation_data Median Value                                 208 non-null    float64
 70  precipitation_data Minimum Monthly Value                        16070 non-null  float64
 71  precipitation_data Number of Years used to Calculate Normal     7227 non-null   float64
 72  precipitation_data Second Quintile                              13429 non-null  float64
 73  precipitation_data Standard Deviation of Mean Value             899 non-null    float64
 74  precipitation_data Third Quintile                               13429 non-null  float64
 75  precipitation_data Year of Occurrence of Maximum Monthly Value  1734 non-null   float64
 76  precipitation_data Year of Occurrence of Minimum Monthly Value  1649 non-null   float64
 77  sunshine Maximum Monthly Value                                  12 non-null     float64
 78  sunshine Mean Daily Value                                       13 non-null     float64
 79  sunshine Mean Number of Hours                                   22653 non-null  float64
 80  sunshine Minimum Monthly Value                                  12 non-null     float64
 81  sunshine Percent of Possible                                    4842 non-null   float64
dtypes: float64(81), object(1)
memory usage: 24.4+ MB

In [78]:
df1 = df[df['humidity Mean Value'].notnull() & df['mean_max_temp Mean Value'].notnull() & df['mean_temp Mean Value'].notnull() & df['precipitation_data Mean Monthly Value'].notnull() & df['sunshine Mean Number of Hours'].notnull()]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8339 entries, 1624 to 36581
Data columns (total 82 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   IWMO                                                            8339 non-null   float64
 1   Month                                                           8339 non-null   object
 2   humidity Daytime Average                                        0 non-null      float64
 3   humidity First Quartile                                         0 non-null      float64
 4   humidity Mean Daily Maximum Value                               666 non-null    float64
 5   humidity Mean Daily Minimum Value                               783 non-null    float64
 6   humidity Mean Value                                             8339 non-null   float64
 7   humidity Mean of 3-Hourly Observations                          0 non-null      float64
 8   humidity Mean of Hourly Observations                            0 non-null      float64
 9   humidity Mean of Observations at 0000 LST                       0 non-null      float64
 10  humidity Mean of Observations at 0100 LST                       0 non-null      float64
 11  humidity Mean of Observations at 0200 LST                       0 non-null      float64
 12  humidity Mean of Observations at 0300 LST                       2098 non-null   float64
 13  humidity Mean of Observations at 0400 LST                       0 non-null      float64
 14  humidity Mean of Observations at 0500 LST                       0 non-null      float64
 15  humidity Mean of Observations at 0600 LST                       0 non-null      float64
 16  humidity Mean of Observations at 0700 LST                       0 non-null      float64
 17  humidity Mean of Observations at 0800 LST                       0 non-null      float64
 18  humidity Mean of Observations at 0900 LST                       2098 non-null   float64
 19  humidity Mean of Observations at 1000 LST                       0 non-null      float64
 20  humidity Mean of Observations at 1100 LST                       0 non-null      float64
 21  humidity Mean of Observations at 1200 LST                       0 non-null      float64
 22  humidity Mean of Observations at 1300 LST                       0 non-null      float64
 23  humidity Mean of Observations at 1400 LST                       0 non-null      float64
 24  humidity Mean of Observations at 1500 LST                       2098 non-null   float64
 25  humidity Mean of Observations at 1600 LST                       0 non-null      float64
 26  humidity Mean of Observations at 1700 LST                       0 non-null      float64
 27  humidity Mean of Observations at 1800 LST                       0 non-null      float64
 28  humidity Mean of Observations at 1900 LST                       0 non-null      float64
 29  humidity Mean of Observations at 2000 LST                       0 non-null      float64
 30  humidity Mean of Observations at 2100 LST                       2098 non-null   float64
 31  humidity Mean of Observations at 2200 LST                       0 non-null      float64
 32  humidity Mean of Observations at 2300 LST                       0 non-null      float64
 33  humidity Median Value                                           0 non-null      float64
 34  humidity Third Quartile                                         0 non-null      float64
 35  mean_max_temp First Quartile                                    0 non-null      float64
 36  mean_max_temp Maximum Daily Value                               1162 non-null   float64
 37  mean_max_temp Maximum Monthly Value                             2633 non-null   float64
 38  mean_max_temp Maximum Value                                     1047 non-null   float64
 39  mean_max_temp Mean Daily Maximum Value                          0 non-null      float64
 40  mean_max_temp Mean Monthly Maximum Value                        194 non-null    float64
 41  mean_max_temp Mean Monthly Minimum Value                        0 non-null      float64
 42  mean_max_temp Mean Value                                        8339 non-null   float64
 43  mean_max_temp Median Value                                      0 non-null      float64
 44  mean_max_temp Minimum Daily Value                               0 non-null      float64
 45  mean_max_temp Minimum Monthly Value                             2633 non-null   float64
 46  mean_max_temp Third Quartile                                    0 non-null      float64
 47  mean_temp First Quartile                                        0 non-null      float64
 48  mean_temp Maximum Daily Value                                   222 non-null    float64
 49  mean_temp Maximum Monthly Value                                 898 non-null    float64
 50  mean_temp Maximum Value                                         239 non-null    float64
 51  mean_temp Mean Daily Maximum Value                              0 non-null      float64
 52  mean_temp Mean Daily Minimum Value                              0 non-null      float64
 53  mean_temp Mean Daily Value                                      0 non-null      float64
 54  mean_temp Mean Monthly Maximum Value                            14 non-null     float64
 55  mean_temp Mean Monthly Minimum Value                            14 non-null     float64
 56  mean_temp Mean Monthly Value                                    0 non-null      float64
 57  mean_temp Mean Value                                            8339 non-null   float64
 58  mean_temp Mean of 3-Hourly Observations                         13 non-null     float64
 59  mean_temp Mean of Hourly Observations                           0 non-null      float64
 60  mean_temp Median Value                                          0 non-null      float64
 61  mean_temp Minimum Daily Value                                   222 non-null    float64
 62  mean_temp Minimum Monthly Value                                 898 non-null    float64
 63  mean_temp Minimum Value                                         239 non-null    float64
 64  mean_temp Third Quartile                                        0 non-null      float64
 65  precipitation_data First Quintile                               3033 non-null   float64
 66  precipitation_data Fourth Quintile                              3030 non-null   float64
 67  precipitation_data Maximum Monthly Value                        3813 non-null   float64
 68  precipitation_data Mean Monthly Value                           8339 non-null   float64
 69  precipitation_data Median Value                                 0 non-null      float64
 70  precipitation_data Minimum Monthly Value                        3831 non-null   float64
 71  precipitation_data Number of Years used to Calculate Normal     723 non-null    float64
 72  precipitation_data Second Quintile                              3033 non-null   float64
 73  precipitation_data Standard Deviation of Mean Value             222 non-null    float64
 74  precipitation_data Third Quintile                               3033 non-null   float64
 75  precipitation_data Year of Occurrence of Maximum Monthly Value  849 non-null    float64
 76  precipitation_data Year of Occurrence of Minimum Monthly Value  849 non-null    float64
 77  sunshine Maximum Monthly Value                                  0 non-null      float64
 78  sunshine Mean Daily Value                                       0 non-null      float64
 79  sunshine Mean Number of Hours                                   8339 non-null   float64
 80  sunshine Minimum Monthly Value                                  0 non-null      float64
 81  sunshine Percent of Possible                                    2509 non-null   float64
dtypes: float64(81), object(1)
memory usage: 5.3+ MB

In [82]:
df2 = df[df['humidity Mean Value'].notnull()]
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14262 entries, 0 to 39073
Data columns (total 82 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   IWMO                                                            14262 non-null  float64
 1   Month                                                           14262 non-null  object
 2   humidity Daytime Average                                        0 non-null      float64
 3   humidity First Quartile                                         0 non-null      float64
 4   humidity Mean Daily Maximum Value                               1232 non-null   float64
 5   humidity Mean Daily Minimum Value                               1401 non-null   float64
 6   humidity Mean Value                                             14262 non-null  float64
 7   humidity Mean of 3-Hourly Observations                          0 non-null      float64
 8   humidity Mean of Hourly Observations                            0 non-null      float64
 9   humidity Mean of Observations at 0000 LST                       0 non-null      float64
 10  humidity Mean of Observations at 0100 LST                       0 non-null      float64
 11  humidity Mean of Observations at 0200 LST                       0 non-null      float64
 12  humidity Mean of Observations at 0300 LST                       2128 non-null   float64
 13  humidity Mean of Observations at 0400 LST                       0 non-null      float64
 14  humidity Mean of Observations at 0500 LST                       0 non-null      float64
 15  humidity Mean of Observations at 0600 LST                       0 non-null      float64
 16  humidity Mean of Observations at 0700 LST                       0 non-null      float64
 17  humidity Mean of Observations at 0800 LST                       0 non-null      float64
 18  humidity Mean of Observations at 0900 LST                       2128 non-null   float64
 19  humidity Mean of Observations at 1000 LST                       0 non-null      float64
 20  humidity Mean of Observations at 1100 LST                       0 non-null      float64
 21  humidity Mean of Observations at 1200 LST                       0 non-null      float64
 22  humidity Mean of Observations at 1300 LST                       0 non-null      float64
 23  humidity Mean of Observations at 1400 LST                       0 non-null      float64
 24  humidity Mean of Observations at 1500 LST                       2128 non-null   float64
 25  humidity Mean of Observations at 1600 LST                       0 non-null      float64
 26  humidity Mean of Observations at 1700 LST                       0 non-null      float64
 27  humidity Mean of Observations at 1800 LST                       0 non-null      float64
 28  humidity Mean of Observations at 1900 LST                       0 non-null      float64
 29  humidity Mean of Observations at 2000 LST                       0 non-null      float64
 30  humidity Mean of Observations at 2100 LST                       2128 non-null   float64
 31  humidity Mean of Observations at 2200 LST                       0 non-null      float64
 32  humidity Mean of Observations at 2300 LST                       0 non-null      float64
 33  humidity Median Value                                           0 non-null      float64
 34  humidity Third Quartile                                         0 non-null      float64
 35  mean_max_temp First Quartile                                    0 non-null      float64
 36  mean_max_temp Maximum Daily Value                               1875 non-null   float64
 37  mean_max_temp Maximum Monthly Value                             3041 non-null   float64
 38  mean_max_temp Maximum Value                                     2444 non-null   float64
 39  mean_max_temp Mean Daily Maximum Value                          0 non-null      float64
 40  mean_max_temp Mean Monthly Maximum Value                        298 non-null    float64
 41  mean_max_temp Mean Monthly Minimum Value                        0 non-null      float64
 42  mean_max_temp Mean Value                                        11689 non-null  float64
 43  mean_max_temp Median Value                                      0 non-null      float64
 44  mean_max_temp Minimum Daily Value                               0 non-null      float64
 45  mean_max_temp Minimum Monthly Value                             3053 non-null   float64
 46  mean_max_temp Third Quartile                                    0 non-null      float64
 47  mean_temp First Quartile                                        0 non-null      float64
 48  mean_temp Maximum Daily Value                                   318 non-null    float64
 49  mean_temp Maximum Monthly Value                                 1224 non-null   float64
 50  mean_temp Maximum Value                                         916 non-null    float64
 51  mean_temp Mean Daily Maximum Value                              1911 non-null   float64
 52  mean_temp Mean Daily Minimum Value                              1908 non-null   float64
 53  mean_temp Mean Daily Value                                      392 non-null    float64
 54  mean_temp Mean Monthly Maximum Value                            14 non-null     float64
 55  mean_temp Mean Monthly Minimum Value                            14 non-null     float64
 56  mean_temp Mean Monthly Value                                    0 non-null      float64
 57  mean_temp Mean Value                                            12702 non-null  float64
 58  mean_temp Mean of 3-Hourly Observations                         41 non-null     float64
 59  mean_temp Mean of Hourly Observations                           231 non-null    float64
 60  mean_temp Median Value                                          0 non-null      float64
 61  mean_temp Minimum Daily Value                                   319 non-null    float64
 62  mean_temp Minimum Monthly Value                                 1224 non-null   float64
 63  mean_temp Minimum Value                                         916 non-null    float64
 64  mean_temp Third Quartile                                        0 non-null      float64
 65  precipitation_data First Quintile                               5076 non-null   float64
 66  precipitation_data Fourth Quintile                              5073 non-null   float64
 67  precipitation_data Maximum Monthly Value                        6390 non-null   float64
 68  precipitation_data Mean Monthly Value                           13877 non-null  float64
 69  precipitation_data Median Value                                 0 non-null      float64
 70  precipitation_data Minimum Monthly Value                        6301 non-null   float64
 71  precipitation_data Number of Years used to Calculate Normal     1259 non-null   float64
 72  precipitation_data Second Quintile                              5076 non-null   float64
 73  precipitation_data Standard Deviation of Mean Value             307 non-null    float64
 74  precipitation_data Third Quintile                               5076 non-null   float64
 75  precipitation_data Year of Occurrence of Maximum Monthly Value  1346 non-null   float64
 76  precipitation_data Year of Occurrence of Minimum Monthly Value  1274 non-null   float64
 77  sunshine Maximum Monthly Value                                  0 non-null      float64
 78  sunshine Mean Daily Value                                       0 non-null      float64
 79  sunshine Mean Number of Hours                                   9955 non-null   float64
 80  sunshine Minimum Monthly Value                                  0 non-null      float64
 81  sunshine Percent of Possible                                    2540 non-null   float64
dtypes: float64(81), object(1)
memory usage: 9.0+ MB